/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "questions";




body,
html {
    height: 100%;
    background-color: #181818;
    padding-top: 25px;
    color: whitesmoke;
}

//gravatar styling
.avatar{
    padding-top: 7px;
    padding-bottom: 7px;
    img {width: 37px;}
}



// navbar styling
    $bgDefault: #a92056;
    $bgHighlight: #4c4151;
    $colDefault: #bbe8f4;
    $colHighlight: #ecdbff;
    $dropDown: true;
    .navbar-inverse {
        background-color: $bgDefault;
        border-color: $bgHighlight;
        .navbar-brand {
            color: $colDefault;
            &:hover,
            &:focus {
                color: $colHighlight;
            }
        }
        .navbar-text {
            color: $colDefault;
        }
        .navbar-nav {
            >li {
                >a {
                    color: $colDefault;
                    &:hover,
                    &:focus {
                        color: $colHighlight;
                    }
                }
                @if $dropDown {
                    >.dropdown-menu {
                        background-color: $bgDefault;
                        >li {
                            >a {
                                color: $colDefault;
                                &:hover,
                                &:focus {
                                    color: $colHighlight;
                                    background-color: $bgHighlight;
                                }
                            }
                            &.divider {
                                background-color: $bgHighlight;
                            }
                        }
                    }
                }
            }
            @if $dropDown {
                .open .dropdown-menu>.active {
                    >a,
                    >a:hover,
                    >a:focus {
                        color: $colHighlight;
                        background-color: $bgHighlight;
                    }
                }
            }
            >.active {
                >a,
                >a:hover,
                >a:focus {
                    color: $colHighlight;
                    background-color: $bgHighlight;
                }
            }
            >.open {
                >a,
                >a:hover,
                >a:focus {
                    color: $colHighlight;
                    background-color: $bgHighlight;
                }
            }
        }
        .navbar-toggle {
            border-color: $bgHighlight;
            &:hover,
            &:focus {
                background-color: $bgHighlight;
            }
            .icon-bar {
                background-color: $colDefault;
            }
        }
        .navbar-collapse,
        .navbar-form {
            border-color: $colDefault;
        }
        .navbar-link {
            color: $colDefault;
            &:hover {
                color: $colHighlight;
            }
        }
    }

    @media (max-width: 767px) {
        .navbar-default .navbar-nav .open .dropdown-menu {
            >li>a {
                color: $colDefault;
                &:hover,
                &:focus {
                    color: $colHighlight;
                }
            }
            >.active {
                >a,
                >a:hover,
                >a:focus {
                    color: $colHighlight;
                    background-color: $bgHighlight;
                }
            }
        }
    }
//navbar styling end


.icon a {

    font-size: 30px;
    color: #a92056;
    padding-bottom: 30px;

}


.links a {
    font-size: 25px;
    color: #a92056;
    margin-right: 10px;


}

.fa-gem {
        color: #a92056;

}

.links {

  text-align: center;

}

.flash {

    padding-top: 18px;
}


.well {

    background-color: #4c4151;
}

.q-description {


    background-color: #4c4151;
    padding: 30px;
    border-radius: 20px;
    border-style: groove;
    border-color: aqua;    

}



.q-title a {

text-decoration: none; 
color: whitesmoke; 
}

.q-title {

    text-align: center;
    font-size: 23px;
}